@font-face {
  font-family: 'GT-America';
  font-weight: 500;
  src: url('./GT-America-Extended-Medium.woff') format('woff'),
    url('./GT-America-Extended-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'GT-America';
  font-weight: 300;
  src: url('./GT-America-Extended-Regular.woff') format('woff'),
    url('./GT-America-Extended-Regular.woff2') format('woff2');
}
