html,
body {
  font-family: $fontFamily;
  color: $col-white;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.controls {
  position: absolute;
  top: 28.5%;
  z-index: 100;
  display: inline-block;
  p {
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
  }
  @media screen and (max-width: $mqMobile) {
    top: 30%;
  }
}

.sections {
  position: relative;
  section {
    padding: 0 $padding;
    height: 100vh;
    overflow: hidden;
    @media screen and (max-width: $mqMobile) {
      padding: 0 $padding/2;
    }
    @media screen and (max-width: $mqSmallMobile) {
      padding: 0 $padding/4;
    }
    .top {
      position: relative;
      padding-top: $navbar;
      z-index: 100;
      @media screen and (max-width: $mqMobile) {
        padding-top: calc(40px);
      }
    }
    .bottom {
      position: relative;
      padding-top: $padding * 2;
    }
  }
}

.peoples {
  padding: 0 $padding;
  padding-bottom: $padding;
  @media screen and (max-width: $mqSmallMobile) {
    padding: 0 $padding/2;
    padding-bottom: $padding/2;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: $padding * 2;
  @media screen and (max-width: $mqTablet) {
    flex-direction: column;
    padding-bottom: 0;
  }
  .col {
    width: 25%;
    @media screen and (max-width: $mqTablet) {
      padding-bottom: $padding;
      width: 100%;
    }
  }
}

a {
  color: var(--col-secondary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

::selection {
  background-color: var(--col-secondary);
  // color: var(--col-primary);
}

.bg-anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Observer animation class
.observer {
  opacity: 0;
  transform: translateY(100px);
  &.enter,
  &.leave {
    transition: opacity 1.6s $bezier, transform $animationDuration * 2 $bezier;
  }
  &.enter {
    opacity: 1;
    transform: translateY(0px);
  }
  &.leave {
    opacity: 0;
  }
}
