html,
body {
  font-family: $fontFamily;
  color: $col-white;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

#__nuxt,
#__layout,
.main-container {
  height: 100%;
}

section {
  padding: 0 $padding;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media screen and (max-width: $mqMobile) {
    padding: 0 $padding/2;
  }
  @media screen and (max-width: $mqSmallMobile) {
    padding: 0 $padding/4;
  }
  .top {
    position: relative;
    padding-top: $navbar;
    z-index: 100;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: $mqMobile) {
      padding-top: 40px;
    }
  }
  .bottom {
    position: relative;
    padding-top: $padding;
  }
}

.cta-link {
  a:not(.btn-active) {
    color: $col-white;
  }
}

a {
  color: var(--col-secondary);
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

::selection {
  background-color: var(--col-secondary);
}

.btn-active {
  color: var(--col-secondary);
}

.bg-anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preload {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  display: flex;
  flex-direction: row;
  pointer-events: none;
  opacity: 1;
  video {
    width: 100px;
  }
}

// Observer animation class
.observer {
  opacity: 0;
  transform: translateY(100px);
  @media screen and (max-width: $mqTablet) {
    transform: translateY(50px);
  }
  &.enter,
  &.leave {
    transition: opacity 1.6s $bezier, transform $animationDuration * 2 $bezier;
  }
  &.enter {
    opacity: 1;
    transform: translateY(0px);
  }
  &.leave {
    opacity: 0;
  }
}
