.big-title {
  font-size: 4.5rem;
  line-height: 110%;
  font-weight: 500;
  word-spacing: -0.5px;
  letter-spacing: -0.5px;
  width: 80%;
}

.title {
  font-size: 3rem;
  line-height: 110%;
  font-weight: 500;
  word-spacing: -0.5px;
  letter-spacing: -0.5px;
  width: 80%;
}

.cta-title {
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: -0.5px;
}

.cta-link {
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: -0.5px;
}
