// Variables
$col-black: #1D1B26;
$col-white: #ffffff;
$col-violet: #6123F3;
$col-red: #FF4A00;

// Spacing
$padding: 20px;

// Animation
$animationDuration: 500ms;
$delay: 0.5s;
$bezier: cubic-bezier(0.77, 0, 0.175, 1);

// Typography Settings
$fontFamily: 'GT-America', Helvetica, Times, sans-serif;

$mqDesktop: 1200px;
$mqTablet: 992px;
$mqMobile: 600px;
$mqSmallMobile: 360px;